Django>=4.2,<5
djangorestframework
django-cors-headers
python-decouple
django-filter
dj-database-url
pytz
requests
scikit-learn
numpy
scipy
pandas
scikit-optimize
folium
gunicorn
whitenoise
psycopg2-binary
qrcode[pil]>=7.4
Pillow>=10.0
